---
import Link from '@/components/common/Link.astro'
import { siteConfig } from '@/config/site'
import { Icon } from 'astro-icon/components'

type Props = {
  className?: string
}

const { className } = Astro.props

const footerLinks: {
  url: string
  title: string
}[] = [{ title: 'Credits', url: '/credits/' }]

const gitHash = PUBLIC_GIT_REVISION_INFO.substring(0, 7)
---

<footer class:list={['flex w-full justify-center', className]}>
  <div class="container flex-1 border-t-[1px] border-ds-gray-100">
    <div
      class="mx-auto flex size-full max-w-[948px] items-end justify-between px-0 py-3 md:px-3"
    >
      <div class="flex-1 space-y-2">
        <ul class="flex gap-2 text-xs text-ds-gray-800">
          {
            footerLinks.map(foot => {
              return (
                <li>
                  <Link
                    href={foot.url}
                    title={foot.title}
                    class="link text-xs text-ds-gray-900"
                  />
                </li>
              )
            })
          }
        </ul>
        <div class="flex gap-1.5 text-xs text-ds-gray-800">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="7"
            height="16"
            fill="none"
            viewBox="0 0 7 16"
            class="dark:fill-silver-dark fill-neutral-500"
          >
            <path d="M3 6.5h1v6l-.5 1-.5-1v-6z"></path>
            <path
              d="M3.5 6a2.5 2.5 0 100-5 2.5 2.5 0 000 5zm-1-3a.5.5 0 100-1 .5.5 0 000 1z"
            ></path>
          </svg>
          Made in JiangSu, CN
        </div>
      </div>
      <div
        class="flex h-full flex-col items-end justify-end sm:justify-between"
      >
        <div
          class="hidden flex-1 text-xs text-ds-gray-800 select-none sm:block"
          role="img"
        >
          {siteConfig.slogan}
        </div>
        <div class="flex gap-2">
          <Link
            class="flex items-center gap-1.5 text-xs common-link"
            href="/rss.xml"
            title="site rss"
          >
            <Icon name="lucide:rss" class="size-3" />
          </Link>
          <Link
            class="flex items-center gap-1.5 text-xs common-link link-animate"
            href={siteConfig.repoUrl}
            title="matix-blog"
          >
            <Icon name="simple-icons:github" class="size-3" />
            matix-blog/{gitHash}
          </Link>
        </div>
      </div>
    </div>
  </div>
</footer>
