---
import MainLayout from '@/layouts/MainLayout.astro'
import type { ProjectItem } from '@/types'
import Project from './_components/Project.astro'
import { projects } from './_data'
---

<MainLayout title="Projects" description="Projects that I create.">
  <section
    class="prose container max-w-[948px] px-4 py-3 md:px-16 dark:prose-invert"
  >
    <h1 class="scroll-m-20 pt-4 text-3xl font-bold md:pt-8">
      List of Projects.
    </h1>
    <article class="relative flex flex-col overflow-auto">
      {
        (
          <div class="space-y-4">
            {projects.map((project: ProjectItem) => {
              return (
                <Project
                  url={project.url}
                  title={project.title}
                  desc={project.desc}
                  tags={project.tags}
                  state={project.state}
                />
              )
            })}
          </div>
        )
      }
    </article>
  </section>
</MainLayout>
