---
import type { CollectiveItem } from '@/types'
import Link from '@/components/common/Link.astro'
import { Icon } from 'astro-icon/components'
import { data } from '../_data'

const authors = data.Authors
---
<h2 class="scroll-m-20 mt-0 mb-2 text-2xl font-semibold ">
  Blogger
</h2>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 pl-1">
  {
  authors.map((item: CollectiveItem) => {
    return (
      <div class="border border-ds-gray-200 rounded overflow-hidden">
        <div class="px-4 py-4">
          <div class="flex items-center">
            <Link
              href={`${item.url}?ref=antzhu.com`}
              title={item.name}
              class="break-words pl-0! no-underline "
            >
              <h3 class="inline-flex mt-0 mb-0 font-medium common-link link-animate text-[15px] text-black!">
                {item.name}
              </h3>
              <Icon
                name="lucide:arrow-up-right"
                class="inline-flex size-4 -mt-0.5 p-0.5 shrink-0 text-ds-gray-700"
              />
            </Link>
          </div>
          <div>
            <span
              class="text-ds-gray-800 my-2 line-clamp-1 text-sm hover:cursor-default"
              title={item.desc}
            >
              {item.desc}
            </span>
            <div class="flex flex-wrap gap-2 text-ds-gray-900 text-sm">
              {
                item.tags && item.tags.length > 0
                  ? item.tags?.map((tagName: string) => (
                    <div class="flex items-center">
                      <Icon
                        name="lucide:hash"
                        class="size-3 text-ds-gray-800 hover:text-ds-gray-1000"
                      />
                      <span class="text-xs text-ds-gray-800 hover:text-ds-gray-1000 mr-2">
                        {tagName}
                      </span>
                    </div>
                  ))
                  : null
              }
            </div>
          </div>
        </div>
      </div>
    )
    })
  }
</div>
