---
import Link from '@/components/common/Link.astro'
import Tags from '@/components/common/Tags.astro'

interface Props {
  title: string
  state: 'InProgress' | 'Fail' | 'Success'
  url: string
  desc?: string
  tags?: string[]
}
const { url, title, tags, desc, state } = Astro.props

const dotClass: string[] = ['size-2 flex-none rounded-full']
if (state === 'Success') {
  dotClass.push(
    'bg-green-500 before:absolute before:size-2 before:animate-ping before:rounded-full before:bg-green-300'
  )
}
if (state === 'Fail') {
  dotClass.push('bg-rose-500')
}
if (state === 'InProgress') {
  dotClass.push(
    'bg-yellow-500 before:absolute before:size-2 before:animate-ping before:rounded-full before:bg-yellow-300'
  )
}
---

<div
  class="ml-2 grid grid-cols-12 gap-4 rounded p-2 text-xs hover:bg-ds-gray-100/40 md:grid-cols-24"
>
  <div class="col-span-1 my-auto items-center justify-center">
    <div aria-hidden="true" title={state} class:list={dotClass}></div>
  </div>
  <div class="col-span-10">
    <div class="flex flex-col justify-between space-y-1">
      <Link
        href={`${url}?ref=antzhu.com`}
        title={title}
        class="pl-0! break-words no-underline"
      >
        <h3
          class:list={[
            'mt-0 mb-0 inline-flex text-base font-medium text-black!'
          ]}
        >
          {title}
        </h3>
      </Link>
      <div class:list={['line-clamp-1 items-center text-xs md:flex']}>
        {desc}
      </div>
    </div>
  </div>
  <div class="my-auto hidden justify-end md:col-span-12 md:flex">
    <div class="space-x-1">
      <Tags tags={tags || []} />
    </div>
  </div>
</div>
